/* =============== */
/*  Flex Secttion  */
/* =============== */

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

/* =============== */
/*  Grid Secttion  */
/* =============== */

.grid {
  display: grid;
}

/* =============== */
/*  Media Queries  */
/* =============== */

@media screen and (max-width: 425px) {
  .flex-end {
    justify-content: flex-end;
    align-items: flex-end;
  }
}
